/* Estilos generales */
*{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    font-size: 100%;
}

/* Encabezado */
.header{
    background-color: black;
    display: flex;
    height: 150px;
    align-items: center;
    
}
.header__img{
    background-color: white;
    height: 100%;
    width: 20%;
}

.header__h1{
    width: 80%;
    background-color: black;
    color: #eea904;
    text-align: center;
    font-size: 2em;
}
.header__span{
    font-size: .6em;
}

/* Seccion 1 */
.section1{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1__div{
    background-color: #eea904;
    width: 30%;
    height: 90%;
    padding: 10px;
}
.section1__p{
    text-align: center;
    font-size: 1.5em;
}

/* Seccion 2 */
.section2{
    background-color: black;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}
.section2__div{
    background-color: #eea904;
    width: 35%;
    height: 90%;
    padding: 50px;
    
}
.section2__p{
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
    width: 25%;
    color: #eea904;
}

@media (max-width:700px) {
    .section1{
        height: 500px;
        display: flex;
    }
    .section1__div{
        width: 30%;
        height: 95%;
    }
    .section2{
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .section2__div{
        width: 50%;
        height: 45%;
    }
    
}
@media (max-width:450px) {
    /* Encabezado */
    .header{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .header__img{
        width: 100%;
    }
    .header__h1{
        display: none;
    }
    .section1{
        height: 900px;
        flex-direction: column;
    }
    .section1__div{
        width: 90%;
        height: 35%;
    }
    .section2{
        height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .section2__div{
        width: 70%;
        height: 45%;
    }
    
}